.error-text {
    max-width: fit-content;
    color: var(--gold);
}

.error-padding {
    padding-left: 20px;
    padding-top: 15px;
}

.error-dot {
    border-radius: 100%;
    width: 7px;
    height: 7px;
    margin-right: 15px;
    background-color: var(--gold);
}